<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">Formula 1</a>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/api-docs">API</a></li>
                <li><a href="/equipos">Equipos</a></li>
                <li><a href="/pilotos">Pilotos</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>