<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>

<h1>web de items</h1>
<ul>
    <li><a href="/equipos">get all equipos</a><br></li>
    <li><a href="/pilotos">get all pilotos</a></li>
    <li><a href="/equipos/insert">insert equipo</a></li>
    <li><a href="/pilotos/insert">insert piloto</a></li>
</ul>

</body>
</html>
