<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> INSERT PILOTO</h1>
<form action="/pilotos" method="POST">

    <input id="id" type="hidden" name="id">
    <label for="idequipo">ID equipo</label>
    <input id="idequipo" type="text" name="idequipo">

    <label for="nombrepiloto">nombrepiloto</label>
    <input id="nombrepiloto" type="text" name="nombrepiloto">

    <label for="apellidospiloto">apellidospiloto</label>
    <input id="apellidospiloto" type="text" name="apellidospiloto">

    <label for="nacionpiloto">nacionpiloto</label>
    <input id="nacionpiloto" type="text" name="nacionpiloto">

    <label for="titulospiloto">titulospiloto</label>
    <input id="titulospiloto" type="text" name="titulospiloto">

    <label for="imagenpiloto">imagenpiloto</label>
    <input id="imagenpiloto" type="text" name="imagenpiloto">

    <input type="submit" value="insert">
</form>
</body>
</html>