<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/navbar.html') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> INSERT PILOTO</h1>
<form action="/pilotos/insert" method="POST">

    <label for="equipo">equipo</label>
    <select class="option-bar" id="equipo" name="equipo">
        <% equipos.forEach((equipo) =>{ %>
            <option value="<%= equipo.id %>"><%= equipo.equiponombre %></option>
        <% } ) %>
    </select>


    <label for="nombrepiloto">nombrepiloto</label>
    <input id="nombrepiloto" type="text" name="nombrepiloto">

    <label for="apellidospiloto">apelidospiloto</label>
    <input id="apellidospiloto" type="text" name="apellidospiloto">

    <label for="nacionpiloto">nacionpiloto</label>
    <input id="nacionpiloto" type="text" name="nacionpiloto">

    <label for="titulospiloto">titulospiloto</label>
    <input id="titulospiloto" type="text" name="titulospiloto">

    <label for="imagenpiloto">imagenpiloto</label>
    <input id="imagenpiloto" type="text" name="imagenpiloto">

    <input type="submit" value="insert">
</form>
</body>
<%- include('partials/footer.html') %>
</html>